<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InetBankingV1">

	<listeners>
		<listener class-name="com.inetBanking.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<classes>
			<class name="com.inetBanking.testCases.LoginPageTest" />
			<!--<class name="com.inetBanking.testCases.HomePageTest" />-->
			<!--<class name="com.inetbanking.testCases.AddNewCustPageTest" />-->
			<!--<class name="com.inetbanking.testCases.LoginPageTestDDT" />-->
			</classes>

	</test>

</suite>